html {
    box-sizing:border-box;
}

*,
*::after,
*::before {
box-sizing: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
background-color: transparent;
padding: 0;
border: 0;
cursor: pointer;
}

.container{
 max-width: 1840px;
 padding: 0 10px;
margin: 0 auto;
}

.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/header-bg.jpg);
    background-position: center;
    min-height: 100vh;
}

.header_top{
    padding-top: 50px;
display: flex;
justify-content: space-between;
align-items: center;
}

.menu_btn{
width: 70px;
height: 23px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.menu_btn span{
background-color: #FF5017;
width: 100%;    
height: 3px;
}

.header_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 345px;
line-height: 418px;

background: linear-gradient(180deg, #000000 0%, #830B02 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}